a.Link {
  color: #000000;
  text-decoration: none;
}

.TaskListItem > .DetailsDisplay {
  padding: 1rem;
  display: flex;
  flex-flow: column;
  border: 1px solid #cccccc;
}

.TaskListItem > .DetailsDisplay > .Description {
  font-size: 14px;
  color: #777777;
}

.CompleteButton, .EditButton {
  font-weight: bold;
  color: #ffffff;
}

.CompleteButton {
  background-color: #4caf50;
}

.EditButton {
  background-color: #8080ff;
}

/* Mobile */
@media (max-width: 600px) {
  .TaskListItem .DetailsDisplay {
    border: 0;
    border-bottom: 0.01rem solid #efefef;
  }
}
